server:
  port: 8080

spring:
  application:
    name: EcommerceConfigServer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  cloud:
    config:
      server:
        git:
          uri: https://github.com/pradeep-kumar-s-2001/ecommerce-config.git
          default-label: main
          clone-on-start: true
